@import "tailwindcss";

nav {
    font-family: 'Poppins', sans-serif;
}

#expense {
    font-family: 'Poppins', sans-serif;
}

#signup-form {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(37, 89, 233);
}

#reset-form {
    font-family: 'Poppins', sans-serif;
}

#profile {
    font-family: 'Poppins', sans-serif;
}

#profile button {
    font-family: 'Poppins', sans-serif;
}

#dashboard {
    font-family: "Poppins";
}

#expenses-list {
    font-family: "Poppins";
}

#pie, #line, #bar {
    font-family: "Poppins";
}

#about , #contact{
    font-family: "Poppins";
}

#privacy-policy {
    font-family: "Poppins";
}

#terms-and-conditions {
    font-family: "Poppins";
}

#monthly-expenses {
    font-family: "Poppins";
}

#categories {
    font-family: "Poppins";
}