@import "tailwindcss";

nav {
    font-family: 'Poppins', sans-serif;
}

#expense {
    font-family: 'Poppins', sans-serif;
}

#signup-form {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(37, 89, 233);
}

#reset-form {
    font-family: 'Poppins', sans-serif;
}

#profile {
    font-family: 'Poppins', sans-serif;
}

#profile button {
    font-family: 'Poppins', sans-serif;
}

#history-card {
    font-family: "Poppins";
}